# Virtual Environments
/venv

# Compiled Output
__pycache__

# IDEs and Editors
.idea

# System Files
.DS_Store
Thumbs.db

# Misc
/log
/static

/parser/celerybeat-schedule.bak
/parser/celerybeat-schedule.dat
/parser/celerybeat-schedule.dir
